@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BlogAppDevelopment.Models
@model ArticleDetailsModel

<div class="row pt-md-4">
            <h1 class="mb-3">@Model.Title</h1>
            <input type="hidden" name="articleId" id="articleId" value="@Model.Id"/>
            <p>@Model.ShortDescription</p>
            <p>
                <img src="~/Content/images/@Model.ImagePath" alt="" class="img-fluid">
            </p>
    <div class="tag-widget post-tag-container mb-5 mt-5">
        <div class="tagcloud">
            @foreach (var tag in Model.Tags)
            {
                <a href="#" class="tag-cloud-link">@tag.Name</a>
            }

        </div>
            </div>

            <div class="about-author d-flex p-4 bg-light">
                <div class="bio mr-5">
                    <img src="~/Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                </div>
                <div class="desc">
                    <h3>@Model.Author.AuthorName @Model.Author.AuthorSurname</h3>
                    <p>@Model.Author.Description</p>
                </div>
            </div>


            <div class="pt-5 mt-5">
                <h3 class="mb-5 font-weight-bold">@Model.Comments.Count Comments</h3>
                <ul class="comment-list">
                    @if (Model.Comments.Any())
                    {
                        foreach (var comment in Model.Comments)
                        {
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="~/Content/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>@comment.Name</h3>
                                    <h4>@comment.WebSite</h4>
                                    <div class="meta">@comment.CommentDate.ToString("MMMM dd, yyyy hh:mm")</div>
                                    <p>@comment.Text</p>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <!-- END comment-list -->
                @{Html.RenderPartial("_CommentPartial", new CommentModel { ArticleId = Model.Id });}
                @section AjaxQuery{
                                <script>
                        $(document).ready(function () {
                            $("#send_request_btn").click(function () {
                                var request = {
                                    articleId: $("#articleId").val(),
                                    name: $("#Name").val(),
                                    email: $("#Email").val(),
                                    website: $("#Website").val(),
                                    text: $("#Text").val()
                                };
                                $.ajax({
                                    url: "/Comments/Add",
                                    method: "POST",
                                    data: request
                                })
                                    .done(function (e) {
                                        let responseHtml = `<li class='comment'>
                                            <div class='vcard bio'>
                                                <img src='/Content/images/person_1.jpg' alt='Image placeholder'>
                                            </div>
                                             <div class='comment-body'>
                                                <h3>${e.Name}</h3>
                                                <h4>${e.Website}</h4>
                                                <div class="meta">${e.CommentDate}</div>
                                                <p>${e.Text}</p>
                                            </div>
                                        </li>`;
                                        $(".comment-list").append(responseHtml);
                                    })
                                    .fail(function (e) {
                                        alert("Request failed: " + e)
                                    })
                            })
                        })
                                </script>
                }
            </div>
        </div><!-- END-->